body {
  margin:0;
  padding:0;
}

.dp {


  /*****************************************
  CSS GENERIQUE
  ******************************************/


  overflow:hidden;
  background-size: contain;

  * {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6, p {
    color : #434244;
    border : none;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h3 {
    font-size:1.6em;
  }

  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
  }


  .row {
    margin-right:0 !important;
    margin-left:0 !important;
    padding-left: 5%;
    padding-right: 5%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width:100%;
  }

  img {
    max-width:100%;
    width:100%;
    vertical-align: middle;
  }

  figure {
    margin: 0;
  }

  .container {
    max-width:1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-bottom:80px;
  }

  a {
    padding: .78571429em 3.5em .78571429em 2.5em;
    font-size: 14px;
    line-height: 1.28571429;
    background-color: #ffea28;
    color: #333333;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto-Condensed,Arial,Helvetica,sans-serif;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    -webkit-transition: background-color .45s ease .09s;
    -o-transition: background-color .45s ease .09s;
    transition: background-color .45s ease .09s;
    z-index: 1;
  }

  a:before {
    font-family: "DecathlonCube";
    right: 0;
    height: 0px;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    line-height: 1;
    z-index: 1;
    top: 0;
    font-size: 18px;
    content: "\E007";
    height: 100%;
    width: 2.2em;
  }
  a.secondary:before {
    font-size:12px;
  }

  a:after {
    background-color: #fdd835;
    content: '';
    position: absolute;
    height: 150%;
    width: 150%;
    -webkit-transition: -webkit-transform .18s ease;
    transition: -webkit-transform .18s ease;
    -o-transition: transform .18s ease;
    transition: transform .18s ease;
    transition: transform .18s ease,-webkit-transform .18s ease;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: 100%;
    left: -25%;
    z-index: -1;
    -webkit-transform-origin: -webkit-calc(83.33333333333334% - 2.857142857142857em) 0;
    -ms-transform-origin: calc(83.33333333333334% - 2.857142857142857em) 0;
    transform-origin: calc(83.33333333333334% - 2.857142857142857em) 0;
  }

  a:hover:after {
    -webkit-transform: rotate(0) translateY(-100%);
    -ms-transform: rotate(0) translateY(-100%);
    transform: rotate(0) translateY(-100%);
    -webkit-transition: -webkit-transform .36s ease;
    transition: -webkit-transform .36s ease;
    -o-transition: transform .36s ease;
    transition: transform .36s ease;
    transition: transform .36s ease,-webkit-transform .36s ease;
  }


  .product-cta {
    display:flex;
    justify-content:center;
  }


  h2 {
    font-size : 4em;
    font-family : 'RobotoCondensed';
    font-weight:700;
    font-style:italic;
    margin-bottom:40px;
  }

  h2 span {

    font-family : "RobotoCondensed";
    font-style: italic;
    font-weight:400;
  }

  h3 {
    text-transform : uppercase;
    font-family : 'RobotoCondensed';
    font-weight:700;
    font-style:italic;
  }

  h4 {
    margin-bottom:20px;
    margin-top:5px;
    text-transform : uppercase;
    font-family : 'RobotoCondensed';
    font-weight:700;
    font-style:italic;
    font-size:28px;
  }

  p {
    font-family : "RobotoCondensed";
    font-style: italic;
    margin-bottom:30px;
    font-size:16px;
    line-height:20px;
  }


  /***** GRID & RESPONSIVE ******/


  .col {
    -ms-flex-preferred-size: 0;
    // flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }


  @media (min-width: 768px) {
    .col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
    }
    .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1000px;
    }
  }

}
