/*** RESET CSS ***/

@import 'reset';
@import 'animation';
@import 'responsive';



/**** FONT *****/

@font-face {
  font-family: "VCR";
  src: url("../fonts/vcr.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-family : "DecathlonCube_dp";
  src : url("../fonts/ms-icons-regular.ttf") format("truetype");
}


.dp {


  /************************************
  MAIN CSS
  ************************************/


  /***** JUMBOTRON *****/

  .dp_jumbotron-container {
    overflow: hidden;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    margin-top: -50px;
    margin-left: -30px;
    width: 105%;
    box-shadow: 10px 10px 40px rgba(0,0,0,0.3);

    @include sm {
      margin-top: -50px;
      margin-left: -25px;
      width: 110%;
    }


    .dp_jumbotron {

      transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      background-image: url('../img/main-background.jpg');
      background-position: bottom;
      background-size:cover;
      background-repeat: no-repeat;
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      padding:220px 0px 0px 0px;
      position:relative;
      z-index:1;

      @include sm {
        padding : 220px 20px 0px 30px;
      }

      .dp_container-jumbo {
        display:flex;
        width:100%;
        align-items: flex-start;
        justify-content: center;
        align-content:stretch;
        flex-direction:column;


        .dp_logo {
          max-width:170px;
          margin-left:50px;
        }



        figure.logo_carve540 {
          background-color : #ccffff;
          transform: rotate(-1deg);
          -webkit-transform: rotate(-1deg);
          -moz-transform: rotate(-1deg);
          -o-transform: rotate(-1deg);
          max-width: 450px;
          margin-left: 10px;
          padding-left:5px;
          margin-top:-5px;
        }

        figure.logo_carve540 img {
          margin-left:-10px;
          transform: rotate(-2deg);
          -webkit-transform: rotate(-2deg);
          -moz-transform: rotate(-2deg);
          -o-transform: rotate(-2deg);
          background-color: #ffcccc;
        }

        figure.logo_carve540 img::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #FECDC9;
          transform:rotate(-2deg);
          -webkit-transform: rotate(-2deg);
          -moz-transform: rotate(-2deg);
          -o-transform: rotate(-2deg);
          z-index:1;
        }
      }

      .container.dp_cta-btn a {
        margin-left: 25%;
        @include sm {
          margin-left:10%;
          font-size:12px;
        }
      }

      .container.dp_cta-btn {
        display: flex;
        width: 100%;
        align-items: flex-start;
        padding-right: 25%;
        margin-top:30px;
      }

    }
  }

  /*******************************
  ********* MAIN CONTENT *********
  *******************************/

  .main_content {
    background-image: url('../img/wave-background.jpg');
    background-size:cover;
    margin-top:-300px;




    /******************
    ********CARVE 540
    ******************/

    .dp_carve540 {

      flex-direction:column;
      background-color:white;
      box-shadow:0px 10px 20px rgba(0,0,0,0.3);
      padding: 420px 5% 0px;

      .logo {
        figure {
          max-width:50%;
          margin:auto;

          @include sm {
            max-width:100%;
          }


        }
      }
      .controls_wrapper{
        position:relative;
      }
      .nav_carve540 {
        position:absolute;
        align-items: center;
        top:50%;
        cursor: pointer;

        &.prev_carve540 {
          left:0;
          @include sm {
            left:10px;
          }
        }
        &.next_carve540 {
          right:0;
          &.pulse {
            -webkit-animation-name: pulse_nav;
            animation-name: pulse_nav;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count: infinite;
          }
          @include sm {
            right:10px;
          }
        }

        figure {
          max-width:30px;
        }

      }

      .carve540_slider {

        position:relative;


        .carve540_slide {
          position:absolute;
          top:0;


          .pop-up_features {
            overflow: hidden;
            display:none;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 !important;
            width: 100%;
            max-width: 100% !important;

            @include sm {
              position: fixed;
              height:100% !important;
              z-index:999999999;
            }

            .carve540_pop-up_close {
              position: absolute;
              max-width: 50px;
              display: block;
              margin: auto;
              left: 0;
              right: 0;
              top: 50%;
              cursor: pointer;
            }

            &.carve540-front {
              .pop-up_zoom {
                background-image: url('../img/popup-front_background.jpg');
                padding: 5% 0 0 0;
                @include sm {
                  overflow: hidden;
                  height:60%;
                }
              }

              .carve540_pop-up_close {
                @include sm {
                  top:57%;
                }
              }
            }

            &.carve540-back {
              .pop-up_zoom {
                background-image: url('../img/popup-back_background.jpg');
                display:flex;
                justify-content: flex-end;
                overflow: hidden;
                padding: 0;
                figure {
                  width:85%;
                }
              }
              .carve540_pop-up_close {
                @include sm {
                  top:90%;
                }
              }

              .pop-up_description {
                @include sm {
                  display:none
                }

              }
            }

            .pop-up_zoom {
              background-size:cover;
            }

            .pop-up_description {
              background-color:rgba(255,255,255,1);
              display: flex;
              align-items: center;
              justify-content: center;

              @include sm {
                overflow: hidden;
                height:40%;
              }

              p {
                text-transform: uppercase;
                font-size: 22px;
                line-height: 26px;
                font-weight: 800;
                text-align: center;
              }

            }
          }


          .board {
            padding : 70px 0px 20px;
            figure {
              max-width:55%;
              margin:auto;
              position:relative;

              @include sm {
                max-width:90%;
              }

              figure.trigger {
                position: absolute;
                max-width: 53px;
                top: 23%;
                left: 25%;
                cursor:pointer;

                @include sm {
                  max-width:40px;
                  top:22%;
                }

                @include md {
                  max-width:70px;
                }

                -webkit-animation-name: pulse;
                animation-name: pulse;
                -webkit-animation-duration: 1s;
                -webkit-animation-iteration-count: infinite;
              }
            }
          }

          .description {
            padding: 0px 20px;
            figure {
              margin:auto;
              max-width:150px;
            }
            p {
              text-transform:uppercase;
              font-size:18px;
              line-height:22pxpx;
              font-weight:800;
              text-align:center;

              @include sm {
                font-size: 14px;
                line-height: 16px;
                br {
                  display:none;
                }
              }


            }
          }

          .scroll_down {
            padding-top:10px;
            figure {
              max-width:70px;
              margin:auto;
            }
          }

        }



        .pagination {
          position:absolute;
          bottom:20px;
          left:0;
          right:0;
          margin:auto;
          p {
            text-align: center;
            font-size:28px;
            font-weight:800;
          }
        }
      }


    }




    /******* MOVIES  ********/

    .movies {
      padding-bottom:120px;
      margin-bottom:0px;
      position:relative;

      .pop-up_background {
        display:none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999999;
        bottom: 0;
        width: 100%;
        background-color:rgba(0,0,0,0.95);

        .pop-up {
          display:none;
          z-index: 99999999;
          position: relative;
          height: 563px;
          width: 1000px;
          margin: auto;
          top: 10%;

          @include sm {
            width:100%;
            height:200px;
            top:30%;
          }

          @include md {
            width:95%;
            height:439px;
            top:30%;
          }


          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
          }

          img{
            position: absolute;
            z-index: 99999;
            width: 30px;
            top: -40px;
            right: 0px;
            cursor: pointer;
          }
        }
      }


      .title {
        margin-bottom:20px;
        position:relative;
        z-index:2;
        figure {
          max-width:25%;
          @include sm {
            max-width:50%;
          }
        }
      }

      .videos {
        position:relative;
        padding : 0px;

        &:before {
          content :"";
          height:250px;
          width:92%;
          position:absolute;
          top:-40px;
          right:-20px;
          background-color:#ccffff;
        }

        .video_left {
          figure {
            @include sm {
              margin-bottom:20px;
            }
          }
        }

        figure {
          position:relative;
          background-color : #ccffff;





          figcaption {
            position : absolute;
            top:40%;
            color:white;
            width:100%;
            text-align: center;
            font-family : "RobotoCondensed";
            font-style: italic;
            font-weight:600;
            font-size:30px;
            line-height:36px;
            text-transform:uppercase;
            text-shadow:1px 1px 3px rgba(0,0,0,0.3);
            cursor:pointer;
          }
        }

      }

      .legende {
        padding:0px;
        p {
          margin-top:0px;
          padding: 20px 30% 20px 20px ;
          background-color : #ccffff;
          font-weight:600;
        }
      }

    }

  }



  /************************
  *********** PARALLAX
  *************************/

  @-webkit-keyframes MOVE-BG {
    from {
      -webkit-transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-187%);
    }
  }


  .parallax {


    margin-top:-80px;
    height: 400px;

    position: relative;
    z-index:9999;

    .parallax_bg {
      background-image: url("../img/parallax_low.png");
      background-repeat: repeat-x;
      position: absolute;
      left: 0;
      right: -5500000px;
      top: 0;
      bottom: 0;
      z-index: 9999;

      &.active {
        -webkit-animation-name: MOVE-BG;
        -webkit-animation-duration: 500000s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
      }

    }

  }



  /************************
  *********** SLIDER_PRODUCT
  *************************/


  .slider_product {
    margin-top:-150px;
    padding:200px 0px 20px;
    position:relative;
    -webkit-transition :background-color 2s;
    transition: background-color 2s;
    &.pink {
      background-color:#ffcccc;
    }
    &.green {
      background-color:#72b79b;
    }
    &.yellow {
      background-color:#e1cb4b;
    }



    .container {
      position:relative;
      min-height:483px;

      @include md {
        min-height:360px;
      }

      .controls {

        .nav {
          display:flex;
          position:absolute;
          align-items: center;
          top:50%;
          cursor: pointer;
          -webkit-animation-name: pulse;
          animation-name: pulse;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count: infinite;
          &.prev {
            left:0;
            @include sm {
              left:10px;
            }
          }
          &.next {
            right:0;
            @include sm {
              right:10px;
            }
          }

          figure {
            max-width:30px;

          }

          span {

            font-family : "RobotoCondensed";
            font-weight:bold;
            font-style: italic;
            margin-bottom:5px;
            font-size:16px;
            line-height:20px;
            text-transform: uppercase;
            margin-left:15px;

            @include sm {
              display:none;
            }

          }
        }
      }

      .product_slide {

        position:absolute;
        max-width:90%;
        margin-right:auto !important;
        margin-left:auto !important;

        .col-md-6 {
          display:flex
        }
        .product_img {
          justify-content: flex-end;
          align-items: flex-end;

          @include sm {
            justify-content: center;
          }

          figure.product {
            max-width:70%;
            margin:0;
            position:relative;
            z-index:2;

            @include sm {
              max-width:50%;
            }

          }

          figure.background {
            position: absolute;
            right: -90%;
            top: 25%;
            max-width: 550px;
            width: 550px;

          }
        }

        .product_info {

          flex-direction: column;
          justify-content: center;
          align-content: center;

          figure {
            max-width:80%;
            margin:auto;
          }

          figure.oxelo_logo {
            max-width:30%;
            float:right;
            margin-right:10%;
            margin-bottom:55px;

            @include sm {
              margin:auto;
              float:none;
            }
          }


          .product_price {
            text-align:center;
            margin-bottom: 75px;

            @include sm {
              margin-bottom:25px;
              margin-top:40px;
            }

            span {
              text-align:center;
              font-family: "RobotoCondensed", sans-serif;
              font-weight:700;
              font-size:45px;
              padding : 6px 30px 10px;
              background-color : #ffea28;
            }
          }

          a {
            padding: 10px 35px 10px 15px;
            background-color: #ffea28;
            color: #333333;
            text-transform: uppercase;
            font-weight: 700;
            font-family: "RobotoCondensed", sans-serif;
            position: relative;
            font-size: 12px;
          }

          .social {
            display:flex;
            justify-content: center;
            margin-top:25px;
            a {
              padding: 0px;
              background: none;
              color: #333333;
              margin:0px 10px;

              &:after {
                display:none
              }
              &:before {
                display:none
              }

              figure {
                max-width:20px;

              }
            }


          }

        }


      }


    }







  }




  /****************************************
  MOBILE CSS
  *****************************************/


  @media (max-width: 767.98px) {


  }



  /****************************************
  IPAD
  *****************************************/

  @media only screen and (min-width : 768px) and (max-width : 1024px) {
  }




}
