/*** RESET CSS ***/

@import 'reset';
@import 'animation';
@import 'responsive';



/**** FONT *****/

@font-face {
  font-family: "VCR";
  src: url("../fonts/vcr.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-family : "DecathlonCube_dp";
  src : url("../fonts/ms-icons-regular.ttf") format("truetype");
}


.dp {


  /************************************
  MAIN CSS
  ************************************/


  /***** JUMBOTRON *****/

  .dp_jumbotron-container {
    overflow: hidden;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    margin-top: -50px;
    margin-left: -30px;
    width: 105%;
    box-shadow: 10px 10px 40px rgba(0,0,0,0.3);

    @include sm {
      margin-top: -50px;
      margin-left: -25px;
      width: 110%;
    }


    .dp_jumbotron {

      transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      background-image: url('../img/main-background.jpg');
      background-position: bottom;
      background-size:cover;
      background-repeat: no-repeat;
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      padding:220px 0px 0px 0px;
      position:relative;
      z-index:1;

      @include sm {
        padding : 140px 20px 0px 30px;
        background-position:80% bottom;
      }

      .dp_container-jumbo {
        display:flex;
        width:100%;
        align-items: flex-start;
        justify-content: center;
        align-content:stretch;
        flex-direction:column;


        .dp_logo {
          max-width:170px;
          margin-left:50px;
        }

        div.title {
          max-width: 450px;
          margin-left: 190px;
          padding-left:5px;
          margin-top:30px;
          text-transform: lowercase !important;
          @include sm {
            margin-left:50px;
            font-size:12px;

            h1 {
              font-size:3rem;
            }
          }

          hr {
            width: 8%;
            border: 3px solid white;
            background-color:white;
          }


        }


      }

      .container.dp_cta-btn a {
        margin-left: 25%;
        @include sm {
          margin-left:10%;
          font-size:12px;
        }
      }

      .container.dp_cta-btn {
        display: flex;
        width: 100%;
        align-items: flex-start;
        padding-right: 25%;
        margin-top:30px;
        @include sm {
          margin-top:0px;
        }
      }

    }
  }

  /*******************************
  ********* MAIN CONTENT
  *******************************/

  .main_content {

    margin-top:-120px;




    /********************************
    ******** DECATHLON SKATEBOARDING
    *********************************/

    .decathlon_skateboarding {
      flex-direction:column;
      padding: 250px 5% 100px;

      .logo {
        figure {
          max-width:50%;
          margin:auto;

          @include sm {
            max-width:100%;
          }
        }
      }

      .description_row {
        width: 100%;
        margin: auto !important;
        .description {
          margin-top:50px;
          margin-bottom:25px;
          p {
            font-size:22px;
            line-height:25px;
            letter-spacing: 1.2px;
            text-align: center;
            font-weight:bold;
            @include sm {
              letter-spacing:initial;
            }
          }
        }

      }

      .nav {
        padding-top:20px;
        figure {
          max-width:50px;
          margin:auto;
        }
        &.black {
          -webkit-filter: brightness(0);
          filter: brightness(0);
        }
      }


    }

    /******************
    ********** Features
    *******************/

    .features {
      position:relative;
      margin-bottom:300px;
      min-height:500px;
      @include sm {
        height:auto !important;
        margin-bottom:80px;
      }

      .board {
        display:none;
        position:absolute;
        @include sm {
          display:block;
          position:relative;
        }

        figure {
          max-width:100%;
          margin:auto;
          @include sm {
            max-width:100%;
          }
        }

        &#board_1 {
          h3 {
            text-align:right;
          }
        }

        &#board_2 {
          p {
            position: absolute;
            left: 50%;
            border-left: solid 2px #434244;
            padding-left: 30px;
            bottom: -45px;
            font-size:20px;
            line-height:22px;
            @include sm {
              position:static;
            }
          }
        }

      }

    }


  }

  /*****************
  ***** PARALLAX
  ******************/

  .parallax {
    background-image : url('../img/bg-parallax.jpg');
    background-size:cover;
    background-position:center;

    min-height:1000px;
    margin:30px 0px 0px;
    width:100%;
    max-width:100%;
    @include sm {
      background-attachment: scroll;
      min-height:400px;
    }
  }




  /************************
  *********** SLIDER PRODUITS
  *************************/

  .slider_products, .deck120  {
    padding:100px 0px 120px;
    position:relative;
    @include sm {
      padding-bottom:50px;
    }


    .container {
      position:relative;
      min-height:483px;

      @include md {
        min-height:360px;
      }

      .controls {


        .nav {
          display:flex;
          flex-direction: column;
          text-align: center;
          position:absolute;
          align-items: center;
          top:50%;
          cursor: pointer;
          -webkit-animation-name: pulse;
          animation-name: pulse;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count: infinite;
          &.next {
            right:-30px;
            @include sm {
              right:10px;
            }
          }

          figure {
            max-width:50px;
            @include sm {
              padding-right:20px;
            }

          }

          span {

            font-family : Roboto-Condensed,Arial,Helvetica,sans-serif;
            font-weight:bold;
            font-style: italic;
            margin-bottom:5px;
            font-size:25px;
            line-height:20px;
            text-transform: uppercase;
            color:#0a71af;

            position:absolute;
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);

            top: 40%;
            left: 0;


            @include sm {
              display:none;
            }

          }
          &.black {
            -webkit-filter: brightness(0);
            filter: brightness(0);
          }
        }
      }

      .product_slide {

        position:absolute;
        max-width:90%;
        margin-right:auto !important;
        margin-left:auto !important;
        @include sm {
          max-width:80%;
        }

        .col-md-6 {
          display:flex
        }

        /*****************
        ETIQUETTE PRIX
        ******************/

        .product_price {
          text-align:center;
          margin-bottom: 75px;
          position:absolute;
          z-index:999;

          @include sm {
            margin-bottom:25px;
            margin-top:40px;
          }

          span {
            text-align:center;
            font-family: Roboto-Condensed,Arial,Helvetica,sans-serif;
            font-weight:700;
            font-size:45px;
            padding : 6px 30px 10px;
            background-color : #ffea28;
          }
        }

        a {
          padding: 10px 35px 10px 15px;
          background-color: #ffea28;
          color: #333333;
          text-transform: uppercase;
          font-weight: 700;
          font-family: Roboto-Condensed,Arial,Helvetica,sans-serif;
          position: absolute;
          font-size: 12px;
        }

        /**********************
        /****** LEFT GENERIQUE
        **********************/

        .left {
          justify-content: flex-start;
          align-items: flex-start;

          @include sm {
            justify-content: center;
            margin-bottom:50px;
          }

          figure.product_img {
            margin:0;
            position:relative;
            z-index:2;
          }

        }


        /********************
        ***** RIGHT GENERIQUE
        ********************/

        .right {
          flex-direction: column;
          .product_info {
            padding-right:50px;
            @include sm {
              padding-right:15px;
            }
            h3 {
              margin-top:-20px;
              text-align: right;
              font-size:2.4em;
              font-style: italic;
            }
            p {
              text-align:right;
              font-size:1.5em;
              line-height: 1.5em;
            }
            .product_features {
              margin-bottom:40px;

              span {
                text-align:right;
                display:block;
                font-size:1.2rem;
              }
            }

          }

          .product_size {
            text-align:right;
            margin: -20px 0px 20px;
            .size {
              color: white;
              font-size:20px;
              width: 55px;
              display: inline-block;
              text-align: center;
              margin:0 5px;

              @include sm {
                margin: 10px 5px;
              }

            }


          }

          .product_video {
            @include sm {
              width: 150%;
              max-width: 150%;

              MARGIN: auto;
              display: block;
              position: relative;
              left: -25%;
            }
            iframe {
              top: 0;
              left: 0;
              width: 100%;
              border: 0;
            }
          }

        }

        /*********************
        // SPECIFIQUE DECK 100
        **********************/


        &.deck100 {


          .left {


            figure.product_img{
              min-width:200px;
              max-width:50%;
              position:absolute;
              opacity:0;
              &.active {
                opacity:1;
              }

              @include sm {
                max-width:50%;
              }

            }

            .product_price {
              top:20%;
              left:45%;

            }

            a {
              top:35%;
              left:55%;

              @include sm {
                top:40%;
                z-index:999;
              }
            }
          }

          .right {
            #size_1 {
              background-color: #248b10 !important;
            }
            #size_2 {
              background-color: #e5dd02;
            }
            #size_3 {
              background-color: #0d4870;
            }
            #size_4 {
              background-color: #d61616;
            }
            #size_5 {
              background-color: #0f0f0f;
            }
          }
        }

        /*********************
        // SPECIFIQUE ROUES
        **********************/

        &.roues {


          .left {
            height:auto !important;


            figure.product_img{
              max-width:100%;
              position:absolute;
              left:-150px;
              padding-top:20%;
              z-index:0;

              @include sm {
                position:static;
                margin-bottom:100px;
              }

              img {
                max-width:120%;
                width:120%;
              }
            }

            .product_price {
              top:20%;
              right:0;
              @include sm {
                top:50%;
              }
            }

            a {
              top:35%;
              right:-70px;
              @include sm {
                bottom: 0;
                right: 0;
                top: initial;
              }
            }
          }
        }

        /*********************
        // SPECIFIQUE ACCESSOIRES
        **********************/

        &.accessoires {
          min-height:550px;
          @include sm {
            flex-direction: column-reverse;
          }


          .left {

            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            .product {
              position:relative;

              figure.product_img {
                position:relative;
                max-width:100%;
                z-index:0;

                @include sm {
                  max-width:100%;
                  width:100%;
                }

                img {
                  max-width:100%;
                  width:100%;
                }

              }


              &.trucks {

                .product_price {
                  top: -40%;
                  left: 50%;
                  @include sm {
                    top:inherit;
                    left:0;
                  }
                }

              }

              &.tool {
                figure.product_img {
                  width:80%;
                }

                .product_price {
                  top: -35%;
                  left: 70%;
                  @include sm {
                    bottom:-100%;
                    left:70%;
                    top:inherit;
                  }
                }

              }
            }
          }




          .right {
            @include sm {
              position:static;
              margin-bottom:50px;
            }


            .product {
              position:absolute;
              @include sm {
                position:relative;
              }



              figure.product_img {
                position:relative;
                max-width:100%;
                z-index:0;

                @include sm {
                  max-width:50%;
                }

                img {
                  max-width:100%;
                  width:100%;
                }

              }

              .product_price {
                top:20%;
                right:0;
              }

              &.vis {
                top:35%;
                left:0;

                figure.product_img {
                  width:80%;
                  @include sm {
                    max-width:100%;
                    width:100%;
                  }
                }

                .product_price {
                  top: 0%;
                  right: 15%;
                  @include sm {
                    top:-35%;
                    right:0;
                  }
                }

              }

              &.grip {
                top:40px;
                right:0;
                @include sm {
                  margin:auto;
                }

                figure.product_img {
                  width:80%;
                  @include sm {
                    width:100%;
                  }
                }

                .product_price {
                  top: 10%;
                  right: 80%;
                  @include sm {
                    right: -50%;
                    top:10%;
                  }
                }

              }
            }

            .product-cta {
              a {
                bottom:15%;
                right:0;

                @include sm {
                  bottom:0;
                }
              }
            }

          }

        }

        /*********************
        // SPECIFIQUE DECK 120
        **********************/


        &.deck120 {
          position:relative;


          .left {


            figure.product_img{
              max-width:50%;
              min-width:200px;
              position:absolute;
              opacity:0;
              &.active {
                opacity:1;
              }

              @include sm {
                max-width:50%;
              }

            }

            .product_price {
              top:20%;
              left:45%;

            }

            a {
              top:35%;
              left:55%;
              @include sm {
                top: 40%;
                z-index:999;
              }
            }
          }

          .right {
            #size_1 {
              background-color: #248b10 !important;
            }
            #size_2 {
              background-color: #e5dd02;
            }
            #size_3 {
              background-color: #0d4870;
            }
            #size_4 {
              background-color: #d61616;
            }
            #size_5 {
              background-color: #0f0f0f;
            }
          }
        }

      }
    }
  }

  /************************
  **** GREETINGS FROM LILLE
  ************************/

  .greetings {
    position:relative;
    figure {
      max-width: 40%;
      POSITION: absolute;
      top: 30%;
      z-index: 999;
      margin: auto;
      left: 0;
      right: 0;
      @include sm {
        max-width:80%;
        top:40%;
      }
    }
    .slider {
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      background: white;
      .slider-items-container {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        transition: transform 0.35s ease-in-out;
        @include sm {
          max-width:100% !important;
        }
        .slider-item {

        }

      }
      .dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10%;
        margin: auto;
        padding: 0 !important;
        left: 0;
        right: 0;
        .dot {
          transition: 0.15s ease-in-out;
          width: 12px;
          height: 12px;
          background-color: white;
          margin: 0 10px;
          list-style: none;
          border-radius: 50%;
          opacity:0.5;
          &.active {
            opacity:1;
          }
          &:hover {
            opacity:1;
            cursor: pointer;
          }

          @include sm {
            display:none;
          }
        }

      }
    }
  }

  //   .greetings {
  //     background-image: url('../img/greetings_1.jpg');
  //     background-size: cover;
  //     background-position:center;
  //     display:flex;
  //     align-items: center;
  //     justify-content: center;
  //     min-height:800px;
  //     position:relative;
  //     padding-bottom:100px;
  //
  //
  //   figure {
  //     max-width: 30%;
  //     @include sm {
  //       max-width:90%;
  //     }
  //   }
  //
  //   ul {
  //     display: flex;
  //     position: absolute;
  //     bottom: 10%;
  //     margin: auto;
  //     padding: 0 !important;
  //     li {
  //       width: 12px;
  //       height: 12px;
  //       background-color: white;
  //       margin: 0 10px;
  //       list-style: none;
  //       border-radius: 50%;
  //       opacity:0.5;
  //       &.active {
  //         opacity:1;
  //       }
  //       &:hover {
  //         opacity:1;
  //         cursor: pointer;
  //       }
  //
  //       @include sm {
  //         width:25px;
  //         height:25px;
  //       }
  //     }
  //   }
  //
  // }


  /************************
  ************ BOARD SIZE
  ************************/

  .board_size {
    padding:50px 0 50px;
    min-height:700px;
    @include sm {
      display:none;
    }
    .row {
      justify-content: space-around;
      .product {
        position:relative;
        div {
          position:absolute;
          margin:auto;
          left:0;
          right:0;

          &.product_img {
            max-width:90%;
          }

          &.size {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height:500px;

            span {
              font-size: 80px;
              font-weight: bold;
              font-style: italic;
              cursor:default;
              &.size_775 {
                color:#248b10;
              }
              &.size_800 {
                color:#ead010;
              }
              &.size_825 {
                color:#0d4870;
              }
              &.size_850 {
                color:#bf1a1e;
              }
              &.size_875 {
                color:#001221;
              }
            }
          }
        }
      }
    }

  }

  /****************************
  ********************* PHOTOS
  ****************************/

  .photos {
    padding-bottom:180px;
    background-image: url('../img/photos_background.jpg');
    background-size:cover;
    background-position: bottom;

    .row {
      min-height:600px;
      position:relative;


      figure {
        position:absolute;
        box-shadow: 0px 0px 100px rgba(0,0,0,0.1);
        &#photo_1 {
          top:35%;
          left:0;
          max-width:15%;
          z-index:1;
          @include sm {
            max-width:100%;
            width:60%;
            display:none;
          }
        }
        &#photo_2 {
          top:0;
          left:13%;
          max-width:20%;
          z-index:2;
          @include sm {
            left:0;
            top:-5%;
            max-width:40%;
            width:40%;
            display:none;
          }
        }
        &#photo_3 {
          top:15%;
          left:32%;
          max-width:40%;
          z-index:3;
          @include sm {
            top: 15%;
            left: 0;
            max-width: 80%;
            width: 80%;
            z-index:99;
          }
        }
        &#photo_4 {
          top:-5%;
          right:0%;
          max-width:30%;
          z-index:4;
          @include sm {
            top:-13%;
            max-width:70%;
            width:70%;
          }
        }
        &#photo_5 {
          left: 15%;
          bottom:0;
          max-width: 28%;
          z-index:5;
          @include sm {
            left:-15%;
            max-width:80%;
            width:80%;
            bottom:-5%;
          }
        }
        &#photo_6 {
          bottom:5%;
          left:68%;
          max-width:20%;
          z-index:2;
          @include sm {
            right:-10%;
            left:initial;
            max-width:60%;
            width:60%;
            bottom:5%;
          }
        }
      }
    }


  }

  .shop {
    .title {
      h3 {
        margin-top: 0px;
        text-align: right;
        font-size: 2.5em;
        font-style: italic;
        text-transform: uppercase;
        @include sm {
          font-size:2em;
        }
      }
    }
    .product {
      figure {
        margin: 50px 0 50px;
      }
      .product_info {
        h4 {
          font-size: 1.7rem;
        }
        .product_price {
          margin-bottom:25px;
          span {
            margin-left:20px;
            font-family: Roboto-Condensed,Arial,Helvetica,sans-serif;
            font-weight: 700;
            font-size: 35px;
            padding: 6px 30px 10px;
            background-color: #ffea28;
          }
        }

      }
    }
  }








  /****************************************
  MOBILE CSS
  *****************************************/


  @media (max-width: 767.98px) {


  }



  /****************************************
  IPAD
  *****************************************/

  @media only screen and (min-width : 768px) and (max-width : 1024px) {
  }




}
